---
BasedOnStyle: WebKit
AlwaysBreakAfterReturnType: TopLevel
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentCaseLabels: true
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
